/src/DotnetClient/.vscode
/src/DotnetClient/TensorFlowServingClient/obj
/src/DotnetClient/TensorFlowServingClient/bin
/src/DotnetClient/TensorFlowServingCSharpClientNet5/ClientApp/node_modules
/src/DotnetClient/TensorFlowServingCSharpClientNet5/bin
/src/DotnetClient/TensorFlowServingCSharpClientNet5/obj
/src/DotnetClient/TensorFlowServingCSharpClientNet5/TensorFlowServingCSharpClientNet5.csproj.user
/src/DotnetClient/.vs/TensorFlowServingCSharpClientNet5/DesignTimeBuild/.dtbcache.v2
/src/DotnetClient/.vs
/src/TrainingModel/Test
/src/DotnetClient/TensorFlowServingCSharpClientNet5/.vscode/launch.json
/src/DotnetClient/TensorFlowServingCSharpClientNet5/.vscode/tasks.json
